.app.dark {
  --bg-color: #05053b;
  --inverted-bg-color: #878790;
  --primary-color: rgb(12 114 12);
  --secondary-color: rgb(26 201 26);
  --inverted-primary-color: rgb(12 10 116);
  --inverted-secondary-color: rgb(12 62 212);
}
