.app.light {
  --bg-color: #878790;
  --inverted-bg-color: #05053b;

  --primary-color: rgb(12, 10, 116);
  --secondary-color: rgb(11, 46, 151);

  --inverted-primary-color: rgb(12, 114, 12);
  --inverted-secondary-color: rgb(26, 201, 26);
}
